<% provide(:title, 'プロフィール') %>
<div class="container edit-container">
  <div class="edit-title">
    <h1 class="form-title form-title-edit">プロフィール編集</h1>
  </div>
  <%= form_with(model: @user, url: user_path(@user), local: true) do |form| %>
  <div class="card-deck">
    <div class="col-md-6">
      <section class="card">
        <h2 class="card-header form-title">アカウント情報変更</h2>
        <div class="card-body">
          <%= render 'shared/error_messages', object: form.object %>
          <div class="form-group">
            <p class="form-group-label">画像</p>
            <div class="form-group-image">
              <% if @user.image.attached? %>
                <%= image_tag @user.image %>
              <% else %>
                <%= image_tag("default_user.png") %>
              <% end %>
            </div>
            <%= form.file_field :image, class: 'form-image-label' %>
          </div>
          <div class="form-group">
            <p class="form-group-label">ユーザー名</p>
            <%= form.text_field :name, class: 'form-control', placeholder: "名前" %>
          </div>
          <div class="form-group">
            <p class="form-group-label">メールアドレス</p>
            <%= form.email_field :email, class: 'form-control', placeholder: "メールアドレス" %>
          </div>
          <div class="form-group">
          	<p class="form-group-label">パスワード</p>
            <%= form.password_field :password, class: 'form-control', placeholder: "パスワード" %>
          </div>
          <div class="form-group">
          	<p class="form-group-label">パスワード（再入力）</p>
            <%= form.password_field :password_confirmation, class: 'form-control', placeholder: "パスワード（再入力）" %>
          </div>
          <div class="form-group">
            <%= form.submit "変更", class: 'btn btn-success btn-lg form-submit' %>
          </div>
        </div>
      </section>
    </div>
  </div>
  <% end %>
</div>
