<% provide(:title, @user.name) %>
<div class="container show-container">
  <div class="row">
    <div class="col">
      <div class="show-up-container">
        <div class="user-box">
          <div class="user-box-left">
            <div class="user-box-image">
              <%= image_tag("default_user.png") %>
            </div>
            <div class="user-box-name">
              <p><%= @user.name %>さん</p>
              <p><%= link_to "編集画面へ", edit_post_path(@user), class: 'btn btn-success btn-edit-user btn-back' %>
            </div>
          </div>
          <div class="user-box-right">
            <div class="user-box-task-count">
              <i class="fas fa-tasks fa-2x"></i>
              <i class="fas fa-tasks fa-none"></i>
              <p>500</p>
            </div>
            <div class="user-box-task-text">
              <p>達成タスク数</p>
            </div>
          </div>
        </div>
        <div class="col show-right">
          <%= render 'layouts/post_form' %>
        </div>
      </div>
      <%= render 'layouts/log.html.erb' %>
    </div>
  </div>
</div>
