<% if @user.posts.any? %>
  <div class="user-logs-box">
    <h3 class="user-log-title">ログ</h3>
    <ol class="user-posts">
    <% @posts.each do |post| %>
    <% @post_user = User.find(post.user_id) %>
      <li id ="post-<%= post.id %>">
        <div class="row log-list">
          <span class="col-2 log-timestamp d-none d-md-inline-block log-timestamp-block">
            <span class="log-timestamp"><%= time_ago_in_words(post.created_at) %>前</span>
          </span>
          <span class="col-md-10 col-log-memos">
            <span><%= link_to @post_user.name ,user_path(@post_user.id) %>さんがタスク名</span>
            <span class="log-text"><< <%= link_to post.text, post_path(post.id) %> >></span>
            <span>を設定しました</span>
            <% if post.picture.attached? %>
              <div class="log-picture">
                <%= image_tag post.resize_picture %>
              </div>
            <% end %>
          </span>
        </div>
      </li>
    <% end %>
    </ol>
  </div>
  <div class="pagination-box">
    <%= paginate @posts %>
  </div>
<% else %>
  <span>まだ投稿がありません</span>
<% end %>
